<div id="customer-new-project-form">
  <form action="" method="POST">
    <div class="form-group">
      <label for="category"><b>Тема вашей работы:</b></label>
      <input type="text" id="category" class="form-control" max-length="50" min-length="5" name="category"
        placeholder="Тип вашей работы" required>
    </div>
    <div class="form-group">
      <label for="type"><b>Тип вашей работы:</b></label>
      <select id="type" class="form-control" name="type">
        <option value="">Выберите тип работы</option>
        <option value="Диплом">Диплом</option>
        <option value="Курсовая">Курсовая</option>
        <option value="Реферат">Реферат</option>
        <option value="Контрольная">Контрольная</option>
        <option value="Тест">Тест</option>
        <option value="Чертеж">Чертеж</option>
        <option value="Отчет по практике">Отчет по практике</option>
        <option value="Эссе">Эссе</option>
        <option value="Перевод">Перевод</option>
        <option value="Сочинение">Сочинение</option>
        <option value="Магистерская диссертация">Магистерская диссертация</option>
        <option value="Кандидатская диссертация">Кандидатская диссертация</option>
        <option value="Бизнес-план">Бизнес-план</option>
        <option value="Рецензия">Рецензия</option>
        <option value="Другое">Другое</option>
      </select>
    </div>
    <div class="form-group">
      <label for="title"><b>Название:</b></label>
      <input type="text" id="title" class="form-control" max-length="50" min-length="5" name="title"
        placeholder="Название вашей работы" required>
    </div>
    <div class="form-group">
      <label for="description"><b>Описание:</b></label>
      <textarea id="description" class="form-control" rows="3" max-length="1000" min-length="5" name="description"
        placeholder="Описание вашей работы" required></textarea>
    </div>
    <div class="form-group">
      <label for="deadline"><b>Срок:</b></label>
      <input type="date" id="deadline" class="form-control" name="deadline" required>
    </div>
    {{!-- <div class="form-group">
      <label for="file"><b>Файлы:</b></label>
      <input type="file" id="file" class="form-control" name="file" accept="">
    </div> --}}
    <input type="text" id="category-id" name="category-id" style="visibility: hidden;">
    <br>
    <button type="submit" class="btn btn-primary">Сделать заказ</button>
  </form>
</div>
