<form action="" method="POST">
  <label for="username">Введите логин</label>
  <input id="username" type="text" name="username" placeholder="Введите логин" required>
  <label for="password">Введите пароль</label>
  <input type="password" name="password" id="password" minlength="6" required>
  <button type="submit">Войти</button>
</form>