<h2>Пожалуйста, зарегистрируйтесь</h2>
<form action="" method="POST">
  <label for="username">Придумайте логин</label>
  <input id="username" type="text" name="username" placeholder="Введите логин" required>
  <label for="phone">Введите номер телефона</label>
  <input type="tel" name="phone" id="phone" required>
  <label for="email">Введите почту</label>
  <input id="email" type="email" name="email" placeholder="Введите почту" required>
  <label for="password">Придумайте пароль, от 6 символов</label>
  <input type="password" name="password" id="password" minlength="6" required>
  <button type="submit">Зарегистрироваться</button>
</form>